@model ML.Cine
<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
    <style>
        #map {
            height: 500px;
            width: 600px;
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <div id="chartContainer"></div>
        </div>
        <div class="col-md-6">
            <h1 class="text-center" style="text-shadow: 0 0 0px #000000;"> Cines</h1>
            <div id="map" style="@*position: absolute;*@ width: 500px; height: 350px; border: 3px solid #000000; left: 100px;"></div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&callback=initMap&libraries=&y=weeky" defer></script>
    <script type="text/javascript">

        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Total de ventas por zona"
                },
                subtitles: [{
                    text: "Periodo 2023"
                }],
                animationEnabled: true,
                data: [
                    {
                        type: "pie",
                        startAngle: 40,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}%",
                        dataPoints: [
        @foreach (ML.Cine cine in Model.Estadistica.TotalVentas)
        {
            <text>{ y: @cine.Venta, label: "@cine.Zona.Nombre" }, </text>
        }
                                                                                ]
                    }
                ]
            });
            chart.render();
        }

        function initMap() {
            if ($("#txtLatitud").val() == 0 && $("#txtLongitud").val() == 0) {
                myLatlng = { lat: 19.59761, lng: -99.18054 };
            } else {
                myLatlng = { lat: 19.59761, lng: -99.18054 };
            }
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: myLatlng,
            });
        @foreach (ML.Cine cine in Model.Cines)
        {
            <text>
                        var contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    'Descripción: ' + '@cine.Direccion' +
                    '<div id="bodyContent">' +
                    'Ventas:' + '@cine.Venta' + "<br>" +
                    'Zona:' + '@cine.Zona.Nombre' + "<br>" +
                    'ID:' + '@cine.IdCine' + "<br>" +
                    '</div>' +
                    '</div>';
                var marker_@cine.IdCine = new google.maps.Marker({ position: { lat: @cine.Latitud, lng: @cine.Longitud }, map: map });
                (marker_@cine.IdCine).addListener("click", function () {
                    (infoWindow_@cine.IdCine).open(map, marker_@cine.IdCine);
            });
            var infoWindow_@cine.IdCine = new google.maps.InfoWindow({
                content: contentString,
                ariaLabel: "Cine",
            });
            </text>
        }
                }
        window.initMap = initMap;

    </script>
</body>
</html>