@model ML.Cine
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Bienvenidos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h7>Seleccione la acción a realizar</h7>
            <hr />
        </div>
    </div>
    <div style="float:right;">
        @Html.ActionLink("Agregar", "Form", "Cine", htmlAttributes: new { @class = "btn btn-success" })
    </div>
    <br />

    <table class="table table-hover" id="tblCine">
        <thead>
            <tr class="table-secondary">
                <td>Editar</td>
                <td style="display :none;">Id Cine</td>
                <td>Latitud</td>
                <td>Longitud</td>
                <td>Direccion</td>
                <td>Venta</td>
                <td>Id Zona</td>
                <td>Eliminar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Cine cine in Model.Cines)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning glyphicon glyphicon-pencil" href="@Url.Action("Form", "Cine", new { IdCine = cine.IdCine })"><i class="bi bi-pencil-square" style="color:ivory"></i></a></td>
                    <td style="display :none;">@cine.IdCine </td>
                    <td>@cine.Latitud</td>
                    <td>@cine.Longitud</td>
                    <td>@cine.Direccion</td>
                    <td>@cine.Venta</td>
                    <td>@cine.Zona.IdZona</td>
                    <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-remove" href="@Url.Action("Delete", "Cine", new { IdCine = cine.IdCine })" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash3-fill"></i></a></td>
                </tr>
            }
        </tbody>
    </table>


</div>


